body {
    background-color: black;
}
#terminal {
    background-color: #111;
    color: green;
    font-family: monospace;
}
.line {
    padding: 5px;
}
.active {
    background-color: #151515;
}
#input {
    display: inline;
}
#cursor {
    background-color: green;
}
